// Variables
$cyan: hsl(178, 100%, 50%);
$soft-blue: hsl(215, 51%, 70%);
$main-bg: hsl(217, 54%, 11%);
$card-bg: hsl(216, 50%, 16%);
$line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

// Reset and base styles
html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: $main-bg;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

img {
  width: 100%;
  
}

a {
  color: $white;
  text-decoration: none;

  &:hover {
    color: $cyan;
  }
}

.nft-img {
  position: relative;
  border-radius: 0.8rem;
  overflow: hidden;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba($cyan, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4.8rem;
    height: 4.8rem;
    background-image: url('../images/icon-view.svg');
    opacity: 0;
    transition: opacity 0.3s ease; 
  }

  &:hover {
    &::before,
    &::after {
      opacity: 1;
    }
  }
}

.card {
  padding: 2.4rem;
  width: 98%;
  max-width: 35rem;
  color: $soft-blue;
  background-color: $card-bg;

  h1 {
    font-size: 2.2rem; 
    color: $white;
    padding-block: 2.4rem 1.2rem;
  }

  p {
    font-size: 1.8rem;
   }
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding-block: 1.6rem;
  border-bottom: 1px solid $line;

  img {
    width: 1.6rem;
  }

  .eth {
    color: $cyan;
    font-weight: 700;
  }

  .days {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }
}

.creator {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding-block: 1.6rem 0.8rem;
  
  img {
    width: 3.3rem;
    border-radius: 50%;
  } 
}


