@font-face {
  font-family: "Work Sans";
  src: url("assets/fonts/WorkSans-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
}

@font-face {
  font-family: "Work Sans";
  src: url("assets/fonts/WorkSans-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Work Sans";
  src: url("assets/fonts/static/WorkSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("assets/fonts/static/WorkSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("assets/fonts/static/WorkSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --wrapper-padding-inline: 1.5rem;

  font-family: "Work Sans", sans-serif;
  color: #301534;
  background: 
    linear-gradient(
      to bottom,
      transparent 30%,
      #F8EEFF 30%
    ),
    url('/assets/images/background-pattern-mobile.svg') center top / 100% auto no-repeat;
  height: 100vh; /* Ensure it covers the full viewport */
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding-inline: var(--wrapper-padding-inline);
  background-color: #fff;
  border-radius: 0.5rem;
  margin-block: 10rem;
}

.header {
  --header-img-size: 21px;

  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-block: 1.5rem;
}

.header img {
  width: var(--header-img-size);
  height: var(--header-img-size);
}

.header h1 {
  font-size: clamp(2rem, -0.5rem + 10.667vw, 3.5rem);
  font-weight: 700;
}

.main {
  --accordion-item-body-padding-block: 1.5rem 1.25rem;

  padding-bottom: 1.5rem;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.accordion-item:not(:last-child) {
  border-bottom: 1px solid #e0e0e0;
}

.accordion-item-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  font-size: clamp(1rem, 0.792rem + 0.889vw, 1.125rem);
  font-weight: 600;
  text-align: left;
  width: 100%;
}

.accordion-item-btn:hover {
  color: #AD28EB;
}

.accordion-item-body {
  padding-block: var(--accordion-item-body-padding-block);
  display: none;
  font-size: clamp(0.875rem, 0.667rem + 0.889vw, 1rem);
  line-height: 1.5;
  color: #8B6990;
} 

@media (min-width: 600px) {
  body {
    --wrapper-padding-inline: 2.5rem;

    background: 
    linear-gradient(
      to bottom,
      transparent 30%,
      #F8EEFF 30%
    ),
    url('/assets/images/background-pattern-desktop.svg') center top / 100% auto no-repeat;
  }
  .header {
    --header-img-size: 41px;
  }
  .main {
    --accordion-item-body-padding-block: 1.5rem;
  }
}
