* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover, a:focus {
  color: #ff7e1b;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.background.active {
  opacity: 0.5;
  visibility: visible;
}

.header {
  --header-padding-block: 1.25rem 1.5rem;
  --header-right-gap: 1.5rem;
  --header-right-avatar-size: 1.5rem;
  --header-left-gap: 1rem;
  --header-menu-links-width: 15.625rem;
  --header-menu-links-pd-top: 4.5625rem;
  width: 80%;
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--header-padding-block);
}
.header__left {
  display: flex;
  align-items: center;
  gap: var(--header-left-gap);
}
.header__left-menu {
  width: 1rem;
  height: 1rem;
  z-index: 100;
}
.header__left-links {
  display: none;
  font-size: 1rem;
  line-height: 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
.header__right {
  display: flex;
  align-items: center;
  gap: var(--header-right-gap);
}
.header__right-avatar {
  width: var(--header-right-avatar-size);
  height: var(--header-right-avatar-size);
  border-radius: 50%;
}
.header__right-cart {
  position: relative;
}
.header__cart-count {
  display: none;
}
.header__cart-count.active {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 19px;
  height: 13px;
  padding: 3px 6px;
  background-color: #ff7e1b;
  color: #fff;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__right-avatar:hover, .header__right-avatar:focus {
  outline: 2px solid #ff7e1b;
}

@media (min-width: 600px) {
  .header {
    --header-padding-block: 1.75rem 2rem;
    --header-right-gap: 3rem;
    --header-right-avatar-size: 3.125rem;
    position: relative;
  }
  .header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e4e9f2;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .header {
    --header-left-gap: 3.5rem;
  }
  .header__left-menu {
    display: none;
  }
  .header__left-links {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .header__focus-line:hover, .header__focus-line:focus {
    position: relative;
  }
  .header__focus-line:hover::after, .header__focus-line:focus::after {
    content: "";
    position: absolute;
    bottom: -48px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #ff7e1b;
  }
}
.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product-images {
  position: relative;
  overflow: hidden;
}
.product-images__list {
  width: 100%;
  height: 300px;
  display: flex;
  transition: transform 0.3s ease-out;
}
.product-images__list-item {
  min-width: 100%;
  height: 300px;
}
.product-images__controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.product-images__controls-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  z-index: 10;
}
.product-images__controls-button:hover svg path {
  stroke: #ff7e1b;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-75%);
  }
}
.sidebar-menu {
  --sidebar-menu-width: 15.625rem;
  --sidebar-menu-pd-top: 4.5625rem;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  width: 100%;
  max-width: var(--header-menu-links-width);
  height: 100%;
  padding-left: 10%;
  padding-top: var(--header-menu-links-pd-top);
  background-color: #fff;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 700;
  gap: 1.5rem;
  z-index: 50;
  transition: all 0.3s ease-in-out;
}
.sidebar-menu.active {
  visibility: visible;
  transform: translateX(0);
}

.cart {
  --cart-width: 95%;
  --cart-top: 76px;
  --cart-right: 50%;
  --cart-transform: translateX(50%);
  position: absolute;
  top: var(--cart-top);
  right: var(--cart-right);
  transform: var(--cart-transform);
  width: var(--cart-width);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding-block: 1.5rem;
  box-shadow: 0 20px 50px -20px rgba(29, 32, 38, 0.1);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 25;
}
.cart__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  padding-bottom: 1.5rem;
  padding-left: 0.75rem;
}
.cart__line {
  width: 100%;
  height: 1px;
  background-color: #e4e9f2;
  border: none;
}
.cart__body {
  padding-block: 4.5rem;
  text-align: center;
}
.cart.active {
  visibility: visible;
  opacity: 1;
}

@media (min-width: 600px) {
  .sidebar-menu {
    --sidebar-menu-width: 18.75rem;
    --sidebar-menu-pd-top: 7.3125rem;
  }
  .cart {
    --cart-top: 94px;
    --cart-right: -10%;
    --cart-width: 360px;
    --cart-transform: translateX(0);
  }
}
@media (min-width: 1024px) {
  .cart {
    --cart-right: -7%;
  }
}/*# sourceMappingURL=style.css.map */