* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover, a:focus {
  color: #ff7e1b;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.background.active {
  opacity: 0.5;
  visibility: visible;
}

.header {
  --header-padding-block: 1.25rem 1.5rem;
  --header-right-gap: 1.5rem;
  --header-right-avatar-size: 1.5rem;
  --header-left-gap: 1rem;
  --header-menu-links-width: 15.625rem;
  --header-menu-links-pd-top: 4.5625rem;
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--header-padding-block);
}
.header__left {
  display: flex;
  align-items: center;
  gap: var(--header-left-gap);
}
.header__left-menu {
  width: 1rem;
  height: 1rem;
  z-index: 100;
}
.header__left-links {
  display: none;
  font-size: 1rem;
  line-height: 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
.header__right {
  display: flex;
  align-items: center;
  gap: var(--header-right-gap);
}
.header__right-avatar {
  width: var(--header-right-avatar-size);
  height: var(--header-right-avatar-size);
  border-radius: 50%;
}
.header__right-cart {
  position: relative;
}
.header__cart-count {
  display: none;
}
.header__cart-count.active {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 19px;
  height: 13px;
  padding: 3px 6px;
  background-color: #ff7e1b;
  color: #fff;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__right-avatar:hover, .header__right-avatar:focus {
  outline: 2px solid #ff7e1b;
}

@media (min-width: 600px) {
  .header {
    --header-padding-block: 1.75rem 2rem;
    --header-right-gap: 3rem;
    --header-right-avatar-size: 3.125rem;
    position: relative;
  }
  .header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e4e9f2;
  }
}
@media (min-width: 1024px) {
  .header {
    --header-left-gap: 3.5rem;
  }
  .header__left-menu {
    display: none;
  }
  .header__left-links {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .header__focus-line:hover, .header__focus-line:focus {
    position: relative;
  }
  .header__focus-line:hover::after, .header__focus-line:focus::after {
    content: "";
    position: absolute;
    bottom: -48px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #ff7e1b;
  }
}
.main {
  --main-flex-direction: column;
  --padding-top: 0;
  --border-radius: 0;
  --img-height: 300px;
  --controls-padding-inline: 1rem;
  --section-gap: 1.5rem;
  display: flex;
  flex-direction: var(--main-flex-direction);
  gap: var(--section-gap);
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding-top: var(--padding-top);
}

.product-images {
  --button-display: flex;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.product-images__container {
  border-radius: var(--border-radius);
  overflow: hidden;
}
.product-images__list {
  width: 100%;
  height: var(--img-height);
  display: flex;
  transition: transform 0.3s ease-out;
}
.product-images__list-item {
  min-width: 100%;
}
.product-images__list-item img {
  width: 100%;
  height: 100%;
}
.product-images__previews {
  border-radius: 1rem;
  overflow: hidden;
  display: none;
}
.product-images__previews-item {
  width: 100%;
  display: none;
}
.product-images__previews-item.active {
  display: block;
}
.product-images__thumbnails {
  display: none;
}
.product-images__thumbnails-item {
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}
.product-images__thumbnails-item:hover, .product-images__thumbnails-item.active {
  opacity: 0.5;
}
.product-images__controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: var(--button-display);
  justify-content: space-between;
  width: 90%;
  padding-inline: var(--controls-padding-inline);
}
.product-images__controls-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  z-index: 10;
}
.product-images__controls-button:hover svg path {
  stroke: #ff7e1b;
}

.product-details {
  --width: 90%;
  --title-line-height: 2rem;
  --price-flex-direction: row;
  --cart-flex-direction: column;
  --cart-gap: 1rem;
  width: var(--width);
  margin: 0 auto;
  padding-bottom: 3rem;
}
.product-details__company {
  font-size: 0.75rem;
  font-weight: 700;
  color: #69707d;
}
.product-details__title {
  font-size: clamp(1.125rem, 1.125rem + 4.333vw, 2.75rem);
  font-weight: 700;
  color: #1d2026;
  padding-block: 1rem;
  line-height: var(--title-line-height);
}
.product-details__description {
  font-size: 1rem;
  font-weight: 400;
  color: #68707d;
  line-height: 26px;
}
.product-details__price {
  display: flex;
  flex-direction: var(--price-flex-direction);
  justify-content: space-between;
  gap: 0.5rem;
  padding-block: 2rem;
  font-size: 1.75rem;
  line-height: 2rem;
  position: relative;
  font-weight: 700;
}
.product-details__price-old::after {
  content: "50%";
  position: absolute;
  top: 30px;
  left: 110px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 26px;
  color: #fff;
  background-color: #1d2026;
  padding: 0.5px 9.5px;
  border-radius: 6px;
}
.product-details__price-new {
  font-size: 1rem;
  color: #69707d;
  text-decoration: line-through;
}
.product-details__cart {
  display: flex;
  flex-direction: var(--cart-flex-direction);
  gap: var(--cart-gap);
  width: 100%;
}
.product-details__cart-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.25rem;
  background-color: #f6f8fd;
  border-radius: 10px;
  width: 100%;
}
.product-details__cart-counter-button {
  cursor: pointer;
}
.product-details__cart-counter-count {
  font-size: 1rem;
  font-weight: 700;
  line-height: 26px;
  color: #1d2026;
  width: 100%;
  text-align: center;
}
.product-details__cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.25rem;
  background-color: #ff7e1b;
  border-radius: 10px;
  color: #1d2026;
  width: 100%;
}
.product-details__cart-button svg path {
  fill: #1d2026;
}
.product-details__cart-button:hover {
  background-color: #ffab6a;
}

@media (min-width: 600px) {
  .main {
    --padding-top: 3rem;
    --border-radius: 1rem;
    --img-height: 400px;
    --controls-padding-inline: 0;
    --section-gap: 3rem;
    width: 90%;
    max-width: 600px;
  }
  .product-images {
    --width: 100%;
  }
  .product-details {
    --width: 100%;
    --title-line-height: 3rem;
    --price-flex-direction: column;
    --cart-flex-direction: row;
    --cart-gap: 0.5rem;
  }
}
@media (min-width: 1024px) {
  .main {
    --main-flex-direction: row;
    --padding-top: 6rem;
    --img-height: unset;
    --section-gap: 8rem;
    max-width: 1110px;
    align-items: center;
  }
  .product-images {
    --button-display: none;
    max-width: 450px;
  }
  .product-images__previews {
    display: flex;
  }
  .product-images__container {
    display: none;
  }
  .product-images__thumbnails {
    display: flex;
    gap: 2rem;
    padding-top: 2rem;
  }
}
.sidebar-menu {
  --sidebar-menu-width: 15.625rem;
  --sidebar-menu-pd-top: 4.5625rem;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  width: 100%;
  max-width: var(--header-menu-links-width);
  height: 100%;
  padding-left: 10%;
  padding-top: var(--header-menu-links-pd-top);
  background-color: #fff;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 700;
  gap: 1.5rem;
  z-index: 50;
  transition: all 0.3s ease-in-out;
}
.sidebar-menu.active {
  visibility: visible;
  transform: translateX(0);
}

.cart {
  --cart-width: 95%;
  --cart-top: 76px;
  --cart-right: 50%;
  --cart-transform: translateX(50%);
  position: absolute;
  top: var(--cart-top);
  right: var(--cart-right);
  transform: var(--cart-transform);
  width: var(--cart-width);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 20px 50px -20px rgba(29, 32, 38, 0.1);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 25;
}
.cart__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  padding-bottom: 1.5rem;
  padding-left: 0.75rem;
}
.cart__line {
  width: 100%;
  height: 1px;
  background-color: #e4e9f2;
  border: none;
}
.cart__body {
  padding-block: 4.5rem;
  text-align: center;
}
.cart.active {
  visibility: visible;
  opacity: 1;
}
.cart__body-empty.active {
  display: none;
}
.cart__body-items {
  display: none;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.cart__body-items.active {
  display: flex;
}
.cart__body-items img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}
.cart__body-items-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.cart__body-items-item-total {
  font-size: 1.125rem;
  font-weight: 700;
  color: #000;
  padding-left: 1rem;
}
.cart__body-checkout {
  background-color: #FF7E1B;
  border: none;
  cursor: pointer;
  padding-block: 1rem;
  width: 100%;
  border-radius: 10px;
}
.cart__body-checkout:hover {
  background-color: #FFAB6A;
}

@media (min-width: 600px) {
  .sidebar-menu {
    --sidebar-menu-width: 18.75rem;
    --sidebar-menu-pd-top: 7.3125rem;
  }
  .cart {
    --cart-top: 94px;
    --cart-right: -10%;
    --cart-width: 360px;
    --cart-transform: translateX(0);
  }
}
@media (min-width: 1024px) {
  .cart {
    --cart-right: -7%;
  }
}/*# sourceMappingURL=style.css.map */