body {
  font-family: "Inter", sans-serif; 
}

img {
  display: block;
  width: 100%;
} 

.wrapper {
  max-width: 1160px;
  margin-inline: auto;
  width: 90%;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
}



