@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont_slnt,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

h1,
h2,
h3,
.bmi-instruction {
  font-weight: 600;
  letter-spacing: -5%;
  color: var(--color-heading);
}

h1,
.bmi-result__value-number {
  font-size: clamp(2rem, -0.143rem + 5.714vw, 4rem);
  line-height: 1.2; 
}

h2 {
  font-size: clamp(2rem, 0.929rem + 2.857vw, 3rem);
  line-height: 1.2; 
}

h3,
.bmi-instruction,
.bmi__matric-input input,
.bmi__imperial-input input,
.bmi__imperial-input span,
.bmi__matric-input span,
.bmi-welcome__title {
  font-size: 1.5rem;
  line-height: 29px; 
}

.limitations {
  h3 {
    font-size: 1.25rem;
    line-height: 1.5; 
  }
}

p {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-paragraph);
}

.bmi__radio-container {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
  color: var(--color-heading);
}

.bmi__matric-input input,
.bmi__imperial-input input {
  color: #5E6E85;
}

.bmi__matric-input span,
.bmi__imperial-input span {
  color: #345FF6;
}

.bmi-result__value,
.bmi-welcome__title { 
  color: #FFFFFF;
  font-weight: 600;
}
 
.bmi-result__description,
.bmi-welcome__description {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #FFFFFF;
  opacity: 0.8;
}

#bmi-range {
  font-weight: 700;
  opacity: 1; 
}

.label-title {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #5E6E85;
}

