.hero {
  /* for the hero container */
  --flex-direction: column;
  --gap: 2rem;
  --padding-block: 2rem 4rem;
  --justify-content: center;
  --width-of-content-n-form: 100%;
  /* for the content */
  --content-gap: 1.5rem; 
  --content-max-width-p: unset;
  --content-text-align: center;
  --content-padding-block: 0;

  display: flex;
  flex-direction: var(--flex-direction);
  justify-content: var(--justify-content);
  gap: var(--gap);
  padding-block: var(--padding-block);

  &__content {
    display: flex;
    flex-direction: column;
    text-align: var(--content-text-align);
    gap: var(--content-gap); 
    width: var(--width-of-content-n-form);
    padding-block: var(--content-padding-block);
    

    p {
      max-width: var(--content-max-width-p);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: var(--width-of-content-n-form);
  }

  @media (min-width: 700px) {
    /* for the hero container */
    --gap: 2.5rem;
    --padding-block: 2.5rem 5.5rem;
  }

  @media (min-width: 1160px) {
    /* for the hero container */
    --flex-direction: row;
    --gap: unset;
    --padding-block: 1.5rem 5rem;
    --justify-content: space-between;
    --width-of-content-n-form: calc(50% - 1rem);
    /* for the content */
    --content-gap: 2rem; 
    --content-max-width-p: 465px;
    --content-text-align: left;
    --content-padding-block: 4.5rem;
    &__form {
      margin-left: 1rem;
    }

    &__content {
      margin-right: 1rem;
    }
  }
}
