@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/Karla-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  background-color: #e0f1e8;
  color: #2A4144;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem; 
}

ul {
  list-style: none;
  
}

li {
  width: 100%;
}

main {
  --main-padding: 1.5rem;
  --main-name-flex-direction: column;
  --main-name-gap: 1.5rem;
  --main-mg-block: 2rem;

  width: 80%;
  max-width: 763px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: var(--main-padding);
  background-color: #fff;
  border-radius: 1rem;
  margin-block: var(--main-mg-block);
}

h1 {
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

label {
  cursor: pointer;
}

label:not(.radio-label, .checkbox-label) {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
}

input:not([type="radio"], [type="checkbox"]) {
  padding: 0.75rem 1.5rem;
  border: 1px solid #86a2a5;
  border-radius: 0.5rem;
}

label:focus-within input,
label:focus-within textarea {
  outline: 1px solid #0c7d69;
}

.radio-label:focus-within {
  outline: 1px solid #0c7d69;
  background-color: #E0F1E8;
}

.checkbox-label:focus-within .checkbox-label-svg-container {
  outline: 1px solid #0c7d69; 
}



input[type="radio"],
input[type="checkbox"] { 
  appearance: none; 
  position: absolute;
  opacity: 0;
} 

.radio-label {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem 1.5rem;
  border: 1px solid #86a2a5;
  border-radius: 0.5rem;
  width: 100%;
  font-size: 1.25rem;
  line-height: 1.5;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  line-height: 1.5;
} 

.radio-label-svg-container {
  width: 20px;
  height: 21px;
  border-radius: 50%;
  border: 1px solid #86a2a5;
  display: grid;
  place-content: center;
}

.checkbox-label-svg-container {
  width: fit-content; 
  height: fit-content;
  border: 1px solid #86a2a5;
  display: grid;
  place-content: center;
}

.radio-label svg,
.checkbox-label svg {
  visibility: hidden;
}

.radio-label:has(input:checked) svg,
.checkbox-label:has(input:checked) svg {
  visibility: visible;
} 

.consent-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

legend {
  padding-bottom: 0.5rem;
}

textarea {
  resize: none;
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  border: 1px solid #86a2a5;
  font-size: 1.25rem;
  line-height: 1.5;
}

textarea,
input:not([type="radio"], [type="checkbox"]) {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.name-container,
.radio-container {
  display: flex;
  flex-direction: var(--main-name-flex-direction);
  gap: var(--main-name-gap);
}

button {
  width: 100%;
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
  border: none;
  background-color: #0c7d69;
  color: #fff;
  font-weight: 600;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.5;
}

button:hover {
  background: linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5)),
    #0c7d69;
}

.error-message {
  color: #D73C3C;
  font-size: 1rem;
  line-height: 1.5;
  display: none;
}

.requiredInput.not-validated {
  border: 1px solid #D73C3C;
}

.success-message { 
  width: 90%;
  max-width: 500px;
  background-color: #2A4144;
  color: #E0F1E8;
  padding: 1.5rem;
  border-radius: 0.75rem;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;  
  visibility: hidden;
}

.success-message,
.success-message-header{
  display: flex;
  flex-direction: column;
  gap: 0.5rem; 
}

.success-message-header {
  flex-direction: row;
  color: #fff;
}

.success-message.active-success-message {
  visibility: visible;
}

@media (min-width: 690px) {
  main {
    --main-padding: 2.5rem;
    --main-name-flex-direction: row;
    --main-name-gap: 1rem;
    --main-mg-block: 8rem;
  }
}
