*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  border: none;
  outline: none;
  background: none;
  font: inherit;
}

body {
  font-family: "Inter", sans-serif;
}

img {
  display: block;
  width: 100%;
}

.wrapper {
  max-width: 1160px;
  margin-inline: auto;
  width: 90%;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
h1,
h2,
h3,
.bmi-instruction {
  font-weight: 600;
  letter-spacing: -5%;
  color: var(--color-heading);
}

h1,
.bmi-result__value-number {
  font-size: clamp(2rem, -0.143rem + 5.714vw, 4rem);
  line-height: 1.2;
}

h2 {
  font-size: clamp(2rem, 0.929rem + 2.857vw, 3rem);
  line-height: 1.2;
}

h3,
.bmi-instruction,
.bmi__matric-input input,
.bmi__imperial-input input,
.bmi__imperial-input span,
.bmi__matric-input span,
.bmi-welcome__title {
  font-size: 1.5rem;
  line-height: 29px;
}

.limitations h3 {
  font-size: 1.25rem;
  line-height: 1.5;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-paragraph);
}

.bmi__radio-container {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
  color: var(--color-heading);
}

.bmi__matric-input input,
.bmi__imperial-input input {
  color: #5E6E85;
}

.bmi__matric-input span,
.bmi__imperial-input span {
  color: #345FF6;
}

.bmi-result__value,
.bmi-welcome__title {
  color: #FFFFFF;
  font-weight: 600;
}

.bmi-result__description,
.bmi-welcome__description {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #FFFFFF;
  opacity: 0.8;
}

#bmi-range {
  font-weight: 700;
  opacity: 1;
}

.label-title {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #5E6E85;
}

:root {
  --color-paragraph: #5E6E85;
  --color-heading: #253347;
  --color-white: #FFFFFF;
}

.header {
  --justify-content: center;
  --padding-block: 2rem;
  --logo-width: 2.5rem;
  display: flex;
  justify-content: var(--justify-content);
  padding-block: var(--padding-block);
}
.header__logo {
  width: var(--logo-width);
}
@media (min-width: 37.5em) {
  .header {
    --padding-block: 2rem 2.5rem;
  }
}
@media (min-width: 64em) {
  .header {
    --justify-content: flex-start;
    --padding-block: 5.5rem 1.5rem;
    --logo-width: 4rem;
  }
}

.hero {
  --gap: 2rem;
  --flex-direction: column;
  --padding-bottom: 4rem;
  /* content */
  --content-gap: 1.5rem;
  --content-text-align: center;
  --content-width: 100%;
  display: flex;
  flex-direction: var(--flex-direction);
  justify-content: space-between;
  gap: var(--gap);
  padding-bottom: var(--padding-bottom);
}
.hero__content {
  display: flex;
  flex-direction: column;
  gap: var(--content-gap);
  width: 100%;
  text-align: var(--content-text-align);
}
.hero__content-description {
  width: var(--content-width);
}
@media (min-width: 37.5em) {
  .hero {
    --gap: 2.5rem;
    --padding-bottom: 5.5rem;
  }
}
@media (min-width: 64em) {
  .hero {
    --gap: 2rem;
    --flex-direction: row;
    /* content */
    --content-gap: 2rem;
    --content-text-align: flex-start;
    --content-width: 464px;
  }
}

.bmi {
  --gap: 1.5rem;
  --padding: 1.5rem;
  /* metric container */
  --metric-n-imperial-gap: 1rem;
  --metric-flex-direction: column;
  --metric-input-padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: var(--padding);
  width: 100%;
  background-color: var(--color-white);
  border-radius: 1rem;
  box-shadow: 16px 32px 56px 0px hsla(211, 40%, 69%, 0.25);
  /* radio section */
  /* metric container */
  /* imperial container */
}
.bmi__radio-container {
  display: flex;
  gap: 1.5rem;
  width: 100%;
}
.bmi__radio-item {
  width: 100%;
}
.bmi__radio-item label {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
}
.bmi__radio-item input {
  display: none;
}
.bmi__radio-item label {
  cursor: pointer;
}
.bmi__custom-radio {
  display: block;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid #5E6E85;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.bmi__radio-item input:checked + .bmi__custom-radio {
  background-color: #E1E7FE;
}
.bmi__radio-item input:checked + .bmi__custom-radio::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #345FF6;
}
.bmi__matric-container {
  display: none;
  flex-direction: var(--metric-flex-direction);
  gap: var(--metric-n-imperial-gap);
}
.bmi__matric-container.active {
  display: flex;
}
.bmi__matric-container label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.bmi__matric-input, .bmi__imperial-input {
  display: flex;
  gap: 1.5rem;
  width: 100%;
  padding: var(--metric-input-padding);
  border-radius: 12px;
  border: 1px solid #5E6E85;
}
.bmi__matric-input input, .bmi__imperial-input input {
  width: 100%;
}
.bmi__matric-input span, .bmi__imperial-input span {
  width: -moz-fit-content;
  width: fit-content;
}
.bmi__imperial-container {
  display: none;
  flex-direction: column;
  gap: 1rem;
}
.bmi__imperial-container.active {
  display: flex;
}
.bmi__imperial-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.bmi__imperial-input-flex {
  display: flex;
  gap: var(--metric-n-imperial-gap);
  width: 100%;
}
@media (min-width: 37.5em) {
  .bmi {
    --gap: 2rem;
    --padding: 2rem;
    /* metric container */
    --metric-n-imperial-gap: 1.5rem;
    --metric-flex-direction: row;
  }
}
@media (min-width: 64em) {
  .bmi {
    /* metric container */
    --metric-input-padding: 1rem 1.5rem;
  }
}

.bmi-result,
.bmi-welcome {
  --border-radius: 1rem;
  display: none;
  padding: 1.5rem;
  background-color: #345FF6;
  border-radius: var(--border-radius);
}
.bmi-result.active,
.bmi-welcome.active {
  display: flex;
}
@media (min-width: 37.5em) {
  .bmi-result,
  .bmi-welcome {
    --border-radius: 1rem 999px 999px 1rem;
  }
}

.bmi-result {
  --flex-direction: column;
  flex-direction: var(--flex-direction);
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}
.bmi-result__value {
  width: 100%;
}
.bmi-result__description {
  width: 100%;
}
@media (min-width: 37.5em) {
  .bmi-result {
    --flex-direction: row;
  }
}

.bmi-welcome {
  --gap: 1.5rem;
  flex-direction: column;
  gap: var(--gap);
}
@media (min-width: 37.5em) {
  .bmi-welcome {
    --gap: 1rem;
  }
}/*# sourceMappingURL=style.css.map */