.main {
  --margin-top: 0;
  --border-radius: 0;
  --img-height: 300px;
  --controls-padding-inline: 1rem;

  --section-gap: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

.product-images {
  width: 100%;
  position: relative;
  overflow: hidden; 
  margin-top: var(--margin-top);  
  border-radius: var(--border-radius); 

  &__list {
    width: 100%;  
    height: var(--img-height);
    display: flex;
    transition: transform 0.3s ease-out;  
  }

  &__list-item {
    min-width: 100%; 

    & img {
      width: 100%; 
      height: 100%;
      
    }
  }

  &__controls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-top: var(--padding-top);
    padding-inline: var(--controls-padding-inline);

    &-button {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: white;
      cursor: pointer;
      z-index: 10;
    }

    &-button:hover svg path {
      stroke: #ff7e1b;
    }
  }
}

.product-details {
  --width: 90%;
  --title-line-height: 2rem;
  --price-flex-direction: row;
  --cart-flex-direction: column;
  --cart-gap: 1rem;

  width: var(--width); 
  margin: 0 auto;
  padding-bottom: 3rem;

  &__company {
    font-size: 0.75rem;
    font-weight: 700;
    color: #69707D;
  }

  &__title {
    font-size: clamp(1.125rem, 1.125rem + 4.333vw, 2.75rem);
    font-weight: 700;
    color: #1D2026;
    padding-block: 1rem;
    line-height: var(--title-line-height);
  }

  &__description {
    font-size: 1rem;
    font-weight: 400;
    color: #68707d;
    line-height: 26px;
  }
  
  &__price {
    display: flex;
    flex-direction: var(--price-flex-direction);
    justify-content: space-between;
    gap: 0.5rem;
    padding-block: 2rem;
    font-size: 1.75rem;
    line-height: 2rem;
    position: relative;
    font-weight: 700;

    &-old::after {
      content: "50%";
      position: absolute;
      top: 30px;
      left: 110px;
      font-size: 1rem;
      font-weight: 700;
      line-height: 26px;
      color: #fff;
      background-color: #1D2026;
      padding: 0.5px 9.5px;
      border-radius: 6px; 
    }

    &-new {
      font-size: 1rem; 
      color: #69707D;
      text-decoration: line-through;
    }
  }

  &__cart {
    display: flex;
    flex-direction: var(--cart-flex-direction);
    gap: var(--cart-gap); 
    width: 100%;

    &-counter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      padding: 1rem 1.25rem;
      background-color: #f6f8fd;
      border-radius: 10px;
      width: 100%;
    }

    &-counter-button {
      cursor: pointer;
    } 
 

    &-counter-count {
      font-size: 1rem;
      font-weight: 700;
      line-height: 26px;
      color: #1d2026;
      width: 100%;
      text-align: center;
    } 
  }

  &__cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1.25rem;
    background-color: #ff7e1b;
    border-radius: 10px;
    color: #1D2026;
    width: 100%;

    & svg path {
      fill: #1D2026;
    }
  }
}

@media (min-width: 600px) {
  .main {
    --margin-top: 3rem;
    --border-radius: 1rem;
    --img-height: 290px;
    --controls-padding-inline: 0;

    --section-gap: 3rem;

    width: 90%;
    max-width: 600px;
  } 

  .product-images {
    --width: 100%;
  }

  .product-details {  
    --width: 100%;
    --title-line-height: 3rem;
    --price-flex-direction: column;
    --cart-flex-direction: row;
    --cart-gap: 0.5rem;
  }
 
}
