@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif; 
  color: #00001a;
}

body.no-scroll {
  overflow: hidden;
}

ul {
  list-style: none;
}

nav {
  --nav-padding-block: 1.5rem 2rem;
  --nav-logo-width: 45px;
  --nav-logo-height: 28px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #f15d51;
} 

img {
  display: block;
  width: 100%;
}

.wrapper {
  width: 90%;
  margin-inline: auto;
  max-width: 1110px;
}

.nav-container { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--nav-padding-block);
}

.logo {
  width: var(--nav-logo-width);
  height: var(--nav-logo-height);
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.nav-links {
  display: none;
  gap: 2.5rem;
  color: #5e607a;
  font-size: 1rem;
  line-height: 26px;
}

.nav-links.active {
  display: flex;
}

.menu-button {
  display: none;
  cursor: pointer;
  z-index: 100;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
}

.menu-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menu-button.active {
  display: flex;
}

.nav-links-mobile { 
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background-color: #fffdfa;
  color: #00001a;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 9rem;
  padding-left: 1.5rem;
  z-index: 90; 
}

.nav-links-mobile.active { 
  transform: translateX(0%); 
}

.background.active { 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00001a88;
  z-index: 50;
}

/* main section */
.main {
  --main-gap: 4rem;

  --hero-section-article-gtc: 1fr; 
  --hero-section-article-gap: 0rem;
  --hero-section-article-content-p-pd-block: 1.25rem;
  --hero-section-article-h1-fs-n-lh: 40px;

  --new-section-h2-fs-n-lh: 2.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
    "hero"
    "new"
    "aside";
  gap: var(--main-gap);
}

.hero-section {
  grid-area: hero;
}

.new-section {
  grid-area: new;
}

.articles-section {
  grid-area: aside;
} 

/* hero section article */
.hero-section-article {
  display: grid;
  grid-template-columns: var(--hero-section-article-gtc); 
  gap: var(--hero-section-article-gap);
  padding-top: 1.5rem;
}

.hero-section-article h1 {
  font-size: var(--hero-section-article-h1-fs-n-lh);
  line-height: var(--hero-section-article-h1-fs-n-lh);
}

.hero-section-article-content {
  display: flex;
  flex-direction: column;  
}

.hero-section-article-content p {
  color: #5E607A;
  font-size: 1rem;
  line-height: 26px;
  padding-block: var(--hero-section-article-content-p-pd-block);
}

.hero-section-article-content a {
  padding-block: 0.75rem;
  max-width: 135px; 
  background-color: #F15D51; 
  font-size: 1rem;
  line-height: 24px;
  text-align: center;
}

.hero-section-article-content a:hover {
  color: #FFFDFA;
  background-color: #00001a;
}
 
/* new section */
.new-section {
  background-color: #00001a;
  color: #C5C6CE;
  padding-inline: 1.5rem;
}

.new-section h2 {
  color: #E9AA52;
  padding-top: 2rem;
  font-size: var(--new-section-h2-fs-n-lh);
  line-height: var(--new-section-h2-fs-n-lh);
}

.new-section-article h3{
  color: #FFFDFA;
  font-size: 1.25rem;
  line-height: 24px;
}

.new-section-article p { 
  font-size: 1rem;
  line-height: 26px;
}

.new-section-article:not(:last-child)::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #5E607A;
  margin-top: 2rem;
}

.new-section-article  {
  padding-top: 2rem;
} 


@media (min-width: 600px) {
  nav {
    --nav-padding-block: 5rem 3rem;
    --nav-logo-width: 64px;
    --nav-logo-height: 40px;
  }
}

@media (min-width: 1110px) {
  .main {
    --main-gap: 1.875rem;

    --hero-section-article-gtc: 1fr 1fr;
    --hero-section-article-gap: 1.875rem;
    --hero-section-article-h1-fs-n-lh: 56px;
    --hero-section-article-content-p-pd-block: 0 1.875rem;

    --new-section-h2-fs-n-lh: 2rem;

    grid-template-columns: 1fr 1fr 350px;
    grid-template-rows: auto auto;
    grid-template-areas: 
      "hero hero new"
      "aside aside aside";
  }
}
