@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif; 
  color: #00001a;
}

body.no-scroll {
  overflow: hidden;
}

ul {
  list-style: none;
}

nav {
  --nav-padding-block: 1.5rem 2rem;
  --nav-logo-width: 45px;
  --nav-logo-height: 28px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #f15d51;
} 

img {
  display: block;
  width: 100%;
}

.wrapper {
  width: 90%;
  margin-inline: auto;
  max-width: 1110px;
}

.nav-container { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--nav-padding-block);
}

.logo {
  width: var(--nav-logo-width);
  height: var(--nav-logo-height);
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.nav-links {
  display: none;
  gap: 2.5rem;
  color: #5e607a;
  font-size: 1rem;
  line-height: 26px;
}

.nav-links.active {
  display: flex;
}

.menu-button {
  display: none;
  cursor: pointer;
  z-index: 100;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
}

.menu-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menu-button.active {
  display: flex;
}

.nav-links-mobile { 
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background-color: #fffdfa;
  color: #00001a;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 9rem;
  padding-left: 1.5rem;
  z-index: 90; 
}

.nav-links-mobile.active { 
  transform: translateX(0%); 
}

.background.active { 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00001a88;
  z-index: 50;
}

/* main section */

.main {
  --main-gap: 4rem;
  --hero-section-gap: 4rem;
  --hero-section-article-gap: 1.5rem;
  --hero-section-article-content-gap: 1.25rem;
  --hero-section-article-content-h1-lh: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--main-gap); 
}

.hero-section {
  display: flex;
  flex-direction: column;
  gap: var(--hero-section-gap);
}

.hero-section-article {
  display: flex;
  flex-direction: column;
  gap: var(--hero-section-article-gap);
  max-width: 730px;
  width: 100%;
}

.hero-section-article-content,
.hero-section-article-content-text {
  display: flex;
  flex-direction: column;
  gap: var(--hero-section-article-content-gap);
}

.hero-section-article-content h1 {
  font-size: 40px;
  line-height: var(--hero-section-article-content-h1-lh);
  font-weight: 800; 
}

.hero-section-article-content-text p {
  font-size: 1rem;
  line-height: 26px;
  font-weight: 400;
  color: #5E607A;
}

.hero-section-article-content-text a {
  font-size: 1rem;
  line-height: 26px;
  font-weight: 400;
  color: #00001A;
  background-color: #F15D51;
  padding-block: 0.75rem;
  text-align: center;
  max-width: 185px;
}

.hero-section-article-content-text a:hover {
  background-color: #00001A;
  color: #FFFDFA;
}
 

@media (min-width: 600px) {
  nav {
    --nav-padding-block: 5rem 3rem;
    --nav-logo-width: 64px;
    --nav-logo-height: 40px;
  }
}

@media (min-width: 1110px) {
  .main {
    --main-gap: 4.5rem;
    --hero-section-gap: 1.875rem;
    --hero-section-article-gap: 1.875rem;
    --hero-section-article-content-gap: 1.875rem;
    --hero-section-article-content-h1-lh: 3.5rem;
  }

  .hero-section {
    flex-direction: row;
    justify-content: space-between; 
  }

  .hero-section-article-content {
    flex-direction: row;
  }
}
