:root {
  --primary-red: hsl(0, 78%, 62%);
  --primary-cyan: hsl(180, 62%, 55%);
  --primary-orange: hsl(34, 97%, 64%);
  --primary-blue: hsl(212, 86%, 64%);
  --neutral-very-dark-blue: hsl(234, 12%, 34%);
  --neutral-grayish-blue: hsl(229, 6%, 66%);
  --neutral-very-light-gray: hsl(0, 0%, 98%);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--neutral-very-dark-blue);
  background-color: var(--neutral-very-light-gray);
}

p {
  opacity: 0.5;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  max-width: 90rem;
  margin: 0 auto;
}

/* header */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  width: 100%;
  max-width: 33.75rem;
  padding-top: 5.3125rem;
}

.header h1 {
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0.010625rem;
  color: var(--neutral-very-dark-blue);
}

.header h1 span {
  display: block;
  font-weight: 600;
}

.header p {
  font-size: 0.9375rem;
  font-weight: 400;
  letter-spacing: 0.00625rem;
  line-height: 1.5625rem;
}

/* main */
.main {
  margin-top: 4.75rem;
}

.main .cards-wrapper,
.main .card-container,
.main .card {
  display: flex;
  flex-direction: column;
}

.main .cards-wrapper {
  align-items: center;
  row-gap: 1.5625rem;
  padding-inline: 2rem;
  max-width: 69.375rem;
}

.main .card {
  gap: 2.0625rem; /* 33px to rem */
  padding: 1.75rem; /* 28px to rem */
  border-radius: 0.5rem; /* 8px to rem */
  background-color: var(--neutral-very-light-gray);
  box-shadow: 0 0.9375rem 1.875rem -0.6875rem var(--primary-blue); /* 0 15px 30px -11px to rem */
  width: 100%;
}

.main .card h2 {
  font-size: 1.25rem; /* 20px to rem */
  font-weight: 600;
}

.main .card p {
  font-size: 0.8125rem; /* 13px to rem */
  font-weight: 400;
  line-height: 1.4375rem; /* 23px to rem */
  letter-spacing: 0.005625rem; /* 0.09px to rem */
}

.main .card img {
  align-self: flex-end;
}

.main .card-container {
  row-gap: 2.0625rem; /* 33px to rem */
  width: 100%;
}

/* top border */
.main .supervisor {
  border-top: 0.25rem solid var(--primary-cyan); /* 4px to rem */
}
.main .team-builder {
  border-top: 0.25rem solid var(--primary-red); /* 4px to rem */
}
.main .karma {
  border-top: 0.25rem solid var(--primary-orange); /* 4px to rem */
}
.main .calculator {
  border-top: 0.25rem solid var(--primary-blue); /* 4px to rem */
}

/* footer */
.attribution {
  margin-top: 3.125rem; /* 50px to rem */
  font-size: 0.6875rem; /* 11px to rem */
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* media query */
@media (min-width: 768px) {
  /* header section */
  .header {
    padding-top: 5rem; /* 80px to rem */
  }
  .header h1 {
    font-size: 2.25rem; /* 36px to rem */
  }

  /* main section */
  .main .cards-wrapper {
    flex-direction: row;
    justify-content: center;
    gap: 1.875rem; /* 30px to rem */
    margin-inline: auto;
  }
  .main .card {
    align-self: center;
    max-width: 21.875rem; /* 350px to rem */
  }

  .main .card-container {
    width: 30%;
  }
}
