* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "League Spartan", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  position: relative;
}

/* animations */
@keyframes fade {
  0% {
    opacity: 0.2;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideOutIn {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}
.animate {
  animation: fade 0.3s ease-in-out;
}

.animateImg {
  z-index: -1;
  animation: slideOutIn 0.3s ease-in-out;
}

/* header */
/* small screen */
.sm-screen {
  display: flex;
  flex-direction: column;
  position: relative;

  &__hero {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;

    &-header {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 1;
      width: 100%;
      padding: 4.8rem 2.4rem;

      div {
        width: 2rem;
      }
    }
  }

  &__menu-popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 4.8rem 2.4rem;
    background-color: #fff;
    transform: translateY(-100%);
    transition: all 0.1s ease-in-out;
    visibility: hidden;

    &.active {
      transform: translateY(0);
      visibility: visible;
    }
  }
} 

/* large screen */
.large-screen {
  display: flex;

  &__content {
    position: relative;
    width: 40%;
  }

  &__header {
    display: flex;
    position: relative;
    width: 60%;
  }

  &__header .home {
    display: flex;
    align-items: center;
    gap: 5.6rem;
    position: absolute;
    top: 0;
    left: 0;
    padding-block: 4.8rem;
    padding-inline: 10%;
  }
}

/* main */
.main {
  display: grid;  

  @media (min-width: 768px) {
    grid-template-columns: 25% 50% 25%; 
  }

  &__about {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 4.5rem 3.2rem;

    @media (min-width: 768px) {
      padding: 6.4rem 4.8rem;
    }

    h2, p {
      line-height: 2.2rem;
    }

    h2 {
      font-size: 1.4rem;
      font-weight: 700; 
      letter-spacing: 5.83px;

      @media (min-width: 768px) {
        font-size: 1.6rem;
        letter-spacing: 5px;
      }
    }

    p {
      font-size: 1.6rem;
      font-weight: 500;
      letter-spacing: -0.33px;
      color: #a0a0a0;
    }
    
  }
}

/* components */
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.nav-links ul {
  display: flex;
  gap: 3.1rem;
  color: red;

  a {
    color: #000;

    @media (min-width: 768px) {
      color: #fff;
    }
  }

  a::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: block;
    width: 0;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
    margin-top: 0.8rem;

    @media (min-width: 768px) {
      background-color: #fff;
    }
  }

  a:hover::after {
    width: 16px;
    height: 2px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  transition: all 0.1s ease-in-out;
  &.active {
    opacity: 0.5;
    z-index: 2;
  }
}

.slide-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  z-index: 1;

  @media (min-width: 768px) {
    left: 0;
  }

  button {
    padding: 2rem 2.4rem;
    background-color: #000;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #444444;
    }
  }
}

.hero-img-render {
  display: flex;
  width: 300%;
  transition: all 0.3s ease-in-out;

  li {
    width: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hero-content {
  padding: 6rem 3.2rem 7.2rem;
  z-index: 1;

  @media (min-width: 768px) {
    position: relative;
    padding-block: 12rem 15.6rem;
  }

  h1 {
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: -1.67px;
    line-height: 35px;

    @media (min-width: 768px) {
      font-size: 4.8rem;
    }
  }

  p {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.2rem;
    letter-spacing: -0.33px;
    padding-block: 1.5rem 4.1rem;
    color: #a0a0a0;

    @media (min-width: 768px) {
      padding-block: 1.8rem 2.6rem;
    }
  }

  span:hover {
    color: #a0a0a0;
  }

  button {
    display: flex;
    align-items: center;
    gap: 3rem;

    svg {
      transition: all 0.3s ease-in-out;
    }

    &:hover svg {
      transform: translateX(20px);
    }
  }

  span {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.6rem;
    letter-spacing: 12.5px;
    color: #000;
  }
}

